*.pyc
*.zwc

.firebase/
.idea/
.netrwhist
.tmux_history
/.cache/
/vendor
/vim/NERDTreeBookmarks
/vim/bundle/
/vim/local.vim
/vim/shada/
/vim/viminfo
/zsh/.zcompcache/
/zsh/.zcompdump
/zsh/.zsh_history
/zsh/.zsh_sessions/
/zsh/completion/
/zsh/zprofile
/zsh/zshenv.extra
/zsh/zshrc.extra.d/
/zsh/zshrc.pre.d/
firebase-debug.log*
node_modules/
npm-debug.log
target.cross/
target/
