*.pyc
*.zwc

.firebase/
.idea/
.netrwhist
/.cache/
/local
/tmux/.tmux_history
/vim/NERDTreeBookmarks
/vim/bundle/
/vim/local.vim
/vim/shada/
/vim/viminfo
/zsh/.zcompdump
/zsh/.zsh_history
/zsh/completion/
/zsh/zprofile
/zsh/zshenv.extra
/zsh/zshrc.extra.d/
/zsh/zshrc.pre.d/
firebase-debug.log*
node_modules/
npm-debug.log
target/
