# tmux {{ version }} configuration
{# For tmux >= 2.1 #}

{% set functionKeys = range(1, 1 + 12) %}

{# ---- FUNCTION KEYS BINDING ---- #}
bind-key -n F1 select-pane -t :.+ \; display-panes
bind-key -n F2 last-window
bind-key -n F3 switch-client -n
bind-key -n F4 choose-tree {{ k.f4 }}

bind-key -n F5 resize-pane -Z

bind-key -n F12 switch-client -T fast
bind-key -T fast F12 detach-client
bind-key -T fast -r Space next-layout
{% for i in range(1, 10) %}
bind-key -T fast {{i}} select-window -t {{i}}
{% endfor %}


{# -- Use Shift-Fx or <prefix> Fx to send Fx key -- #}
{% for i in functionKeys %}
bind-key    F{{i}}   send-keys F{{i}}
bind-key -n S-F{{i}} send-keys F{{i}}
{% endfor %}

unbind-key  C-b
bind-key -r C-b send-prefix
bind-key -r b   select-pane -t :.+ \; display-panes
bind-key    C-c command-prompt

{# -- Override tmux default -- #}
set-option -g base-index 1
set-option -g     default-shell "$NMK_TMUX_DEFAULT_SHELL"
set-option -g  default-terminal "$NMK_TMUX_DEFAULT_TERMINAL"
set-option -g detach-on-destroy "$NMK_TMUX_DETACH_ON_DESTROY"
set-option -g display-time 1200
set-option -g history-limit 2500
set-option -g status-keys emacs
set-option -g status-right-length 60
set-window-option -g mode-keys vi
set-option -g history-file "$NMK_TMUX_HISTORY"

{# -- Copy to system clipboard using copy-pipe -- #}
{% if version >= 2.4 %}
if-shell 'xclip -o > /dev/null 2>&1' 'bind-key -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "xclip -selection clipboard"'
{% else %}
if-shell 'xclip -o > /dev/null 2>&1' 'bind-key -t vi-copy y copy-pipe "xclip -selection clipboard"'
{% endif %}

set-option -g status-right "#{?client_prefix,^B ,}'#[fg=colour51]#{=40:pane_title}#[default]' %H:%M %Z %a, %d"

{# -- Keep new-window and split-window with current/working directory behavior same as 1.8 -- #}
unbind-key '"'; bind-key '"' split-window    -c "#{pane_current_path}"
unbind-key %;   bind-key %   split-window -h -c "#{pane_current_path}"
unbind-key c;   bind-key c   new-window      -c "#{pane_current_path}"

bind-key C-l switch-client -l

{# ---- COPY-MODE BINDING ---- #}
{# -- C-u to enter copy-mode -- #}
bind-key C-u copy-mode -eu

{# -- halfpage-up and halfpage-down -- #}
{# -- Copy to system clipboard using copy-pipe -- #}
{% if version >= 2.4 %}
unbind-key -T copy-mode-vi PageUp
bind-key -T copy-mode-vi PageUp send-keys -X halfpage-up
unbind-key -T copy-mode-vi PageDown
bind-key -T copy-mode-vi PageDown send-keys -X halfpage-down
{% else %}
unbind-key -t vi-copy PageUp
bind-key -t vi-copy PageUp halfpage-up
unbind-key -t vi-copy PageDown
bind-key -t vi-copy PageDown halfpage-down
{% endif %}

{# -- Fix mouse scrolling in 2.1 and later -- #}
{# Credit https://github.com/tmux/tmux/issues/145 #}
bind-key -T root WheelUpPane if-shell -Ft= "#{mouse_any_flag}" "send-keys -M" "if-shell -Ft= '#{pane_in_mode}' 'send-keys -M' 'copy-mode -e'"

{#
 | PageUp and PageDown special behaviors
 |   If the condition is match, PageUp should enter copy mode
 |   see https://www.reddit.com/r/tmux/comments/3paqoi/tmux_21_has_been_released/
#}
bind-key -T root PageUp if-shell -F "#{?pane_in_mode,1,}#{?alternate_on,1,}" "send-keys PageUp" "copy-mode -eu"

{# -- Colors -- #}
if-shell 'zsh -c "[[ $NMK_TMUX_256_COLOR == 1 ]]"' 'source-file $NMK_DIR/tmux/256color.conf' 'source-file $NMK_DIR/tmux/8color.conf'

{# -- Unset temporary environment variables that were used during tmux initialization -- #}
{% for env in tmpEnvs %}
set-environment -gr {{ env }}
{% endfor %}
